<h2>create new account</h2>
<form method="post">
    {% csrf_token %} 

    {% if form.non_field_errors %}
    <ul class="errorlist">
        {% for error in form.non_field_errors %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    {% for field in form %}
    <div class="form-group">
        <label for="{{ field.id_for_label }}">{{ field.label }}:</label>
        {{ field }}
        {% if field.help_text %}
        <p class="helptext">{{ field.help_text }}</p>
        {% endif %}
        {% if field.errors %}
        <ul class="errorlist">
            {% for error in field.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    {% endfor %}

    <button type="submit">signup</button>
</form>
<p style="text-align: center; margin-top: 20px;">
        Do you already have an account?<a href="{% url 'login' %}">login</a>
</p>